<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <head>
        <title>Home Page</title>
      <link rel="stylesheet" href="../static/css/normalise.css">
      <link rel="stylesheet" href="../static/css/grid.css">
      <link rel="stylesheet" href="../static/css/ionicons.min.css">
      <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap" rel="stylesheet">
          <header>
            <p id="top"></p>
            <nav>
              <img src="../static/img/logo-white.png" alt="FMF Logo" class="logo">
                <div class="row">
                    <ul class="main-nav">
                        <li><a href="#">HOME</a></li>
                        <li><a href="#about">ABOUT</a></li>
                        <li><a href="../cgi-bin/fmf/map_page.py">DATA INTERFACE</a></li>
                    </ul>
                </div>
            </nav>
          </head>
          <body>
            <div class="crops-text-box">
                <h1>Where Fields Meet Finds</h1>
                <a class="btn btn-full" href="../cgi-bin/fmf/map_page.py">Show me</a>
            </div>
        </header>


        <section class="section-feautres" id="about">
            <div class="row">
                <h2>Who are we here for?</h2>
                <p class="long-para">

                Here at Fields Meet Finds we are dedicated to providing intuitive
                and accessible pathways to your data. We serve both farmers' and
                archaeologists' needs by providing customisable queries. Currently,
                we offer bivariate and interactive visualisation and we anticipate integrating more
                variables into the future. In addition to spatial visualisation of your
                data, we also offer customisable querying to allow you to extract exactly
                the data you seek.

              </p>
            </div>
            <div class="row">
                <div class="col span-1-of-2 box">
                    <i class="ion-ios-flower icon-big"></i>
                    <div style=height:120px>
                    <h3>Farmers</h3>
                    <p>

                      As a farmer, it is important for you to know exactly which
                      of your fields are where, how big they are, which crop the
                      field(s) contain and the relevant growth season. Through
                      our customisable query interface, you can find out exactly
                      what you need.

                    </p>
                  </div>
                    <a class="btn btn-ghost" href="../cgi-bin/fmf/map_page.py#custom-farmer-query">I'm a Farmer</a>
                  </div>
                <div class="col span-1-of-2 box">
                   <i class="ion-ios-hammer icon-big"></i>
                   <div style=height:120px>
                   <h3>Archaeologists</h3>
                    <p>

                      As an archaeologist, it is important for you to know exactly
                      which of your finds are where, which era they're from,
                      the material they are made of, what they were used for
                      and any relevant field notes. Through
                      our customisable query interface, you can find out exactly
                      what you need.


                    </p>
                  </div>
                    <a class="btn btn-ghost" href="../cgi-bin/fmf/map_page.py#custom-archaeo-query">I'm an Archaeologist</a>
                  </div>
            </div>
        </section>
    </body>
</html>
