Content-Type: text/html

<!DOCTYPE html>
  <link rel="stylesheet" href="https://www.geos.ed.ac.uk/~s1434165/static/css/normalise.css">
  <link rel="stylesheet" href="https://www.geos.ed.ac.uk/~s1434165/static/css/grid.css">
  <link rel="stylesheet" href="https://www.geos.ed.ac.uk/~s1434165/static/css/ionicons.min.css">
  <link rel="stylesheet" href="https://www.geos.ed.ac.uk/~s1434165/static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap" rel="stylesheet">

{{ map }}


<div class="col span-1-of-2">
<form name="test-form" action="../cgi-bin/asdm/test_page.py" method="get">
  <input type="radio" name="cine-facilities" value="plain"> Plain white<br>
  <input type="radio" name="cine-facilities" value="crop"> Crop type<br>
  <input type="radio" name="cine-facilities" value="farmer"> Farmer<br></p>
  </form>
  {{ test }}
  </div>
</div>
